$themeColor: #73abff;
$shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
.contentDiv{
  .articleWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .articleBox{
      word-wrap: break-word;
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      width: 95%;
      min-height: 80vh;
      padding: 0 10px;
      margin-top: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: $shadow;
      
      .statusBar{
        border-bottom: 1px dashed #eee;
        margin-bottom: 15px;
        .articleAuthor, .articleArea{
          padding: 4px 10px;
          font-size: .875em;
          margin: 10px 10px 28px 0!important;
          border-radius: 5px;
          float: left;
          cursor: pointer;
        }

        .articleAuthor{
          color: white;
          background-color: #02a9ff;
      }
      }

      .articleContent{
        margin-bottom: 20px;
        p, li{
          white-space: pre-wrap;
        }
        blockquote{
          border-left: 8px solid #d0e5f2;
          padding: 10px;
          margin: 10px 0;
          background-color: #f1f1f1;
        }
    
        code{
          font-family: monospace;
          background-color: #eee;
          padding: 3px;
          border-radius: 3px;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: pre-wrap;
        }
        pre>code{
          display: block;
          padding: 10px;
        }
        table{
          border-collapse: collapse;
        }
        td, th{
          border: 1px solid #ccc;
          min-width: 50px;
          height: 20px;
        }
        th{
          background-color: #f1f1f1;
        }
        ul, ol{
          padding-left: 20px;
    
        }
        input[type="checkbox"] {
          margin-right: 5px;
        }
        video{
          max-width: 100%;
        }
        img{
          max-width: 100%;
          height: auto!important;
        }
      }

    }
 
  }
}