$themeColor: #73abff;
$shadow: 0 3px 10px rgba(0, 0, 0, .1);

.contentDiv {
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;

    .userHeaderWarp {
        margin-top: 15px;
        background: #fff;
        border-radius: 6px;
        box-shadow: $shadow;

        .backgroundDiv {
            background-size: cover;
            width: 100%;
            padding-top: 20%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .userHeaderComponentWrapper {
            max-width: 100%;
            height: 150px;
            padding: 0px 42px 18px 42px;
            display: flex;
            margin-top: -80px;

            .userImgWarp {
                position: relative;

                .userImg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 4px solid #fff;
                    border-radius: 6px;
                    box-sizing: border-box;
                }

                .changeImgBtn {
                    display: flex;
                    position: absolute;
                    opacity: 0;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: all .3s ease;

                    .inputFile {
                        display: none;

                    }
                }

                .changeImgBtn:hover {
                    opacity: 1;
                    color: white;
                    background: rgba(0, 0, 0, 0.651);
                    cursor: pointer;
                }

                .changeImgBtnHovered {
                    opacity: 1;
                    color: white;
                    background: rgba(0, 0, 0, 0.651);
                    cursor: pointer;

                }
            }
        }
    }

    .userProfile-Usertab {
        display: flex;
        margin-top: 20px;

        .userProfile-Usertab-leftPanelWrapper {

            max-width: 100%;

            .userSideBarWrapper {
                width: 200px;
            }

            .userProfile-Usertab-leftPanel {
                box-shadow: $shadow;

                .userSideBar {

                    padding: 16px;
                    background: #fff;
                    display: flex;
                    justify-content: space-between;
                    transition: all 0.08s ease;
                    cursor: pointer;

                    .userSideBarItem {
                        color: #73abff;
                    }

                    .arrow {
                        color: black;
                    }
                }

                .userSideBar:hover {
                    background: rgb(247 241 244)
                }
            }
        }


        .userProfile-Usertab-rightPanelWrapper {
            width: 100%;
            max-height: 450px;
            overflow-y: auto;
            margin-left: 20px;
            background-color: white;
            box-shadow: $shadow;

            .userInfoBox {
                max-width: 100%;
                background-color: white;

                .userInfoItem {
                    display: flex;
                    max-width: 100%;
                    padding: 20px;
                    color: black;

                    .userInfoItem-title {
                        margin-right: 10px;
                    }

                    span {
                        max-width: 90%;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                }
            }

            .articleCardWrapper {
                margin: 20px 0;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                position: relative;

                .area {
                    color: #3897aa;
                    font-size: 12px;
                    line-height: 19px;
                    cursor: pointer;
                }

                .title {
                    font-size: 18px;
                    font-weight: 600;
                    margin: 8px 0;
                    float: left;
                    cursor: pointer;
                }

                .title:hover {
                    color: #e73737;
                }

                .content {
                    font-size: 14px;
                    color: #6a6565;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-height: 1.4;
                    max-height: calc(1.4 * 2);
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    margin-bottom: 4px;
                }

                .buttonWrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    font-size: 12px;

                    .editBtn,
                    .deleteBtn {
                        font-weight: 400;
                        margin-left: 8px;
                        cursor: pointer;
                    }

                    .editBtn {
                        color: #3897aa;

                    }

                    .deleteBtn {
                        color: #e73737;
                    }
                }

            }

            .navigationWrapper {
                display: flex;
                padding: 10px;

                .navigationItem {
                    font-size: 14px;
                    padding: 5px 16px;
                    margin: 0 5px;
                    border-radius: 32px;
                    cursor: pointer;
                    transition: all .3s ease;
                    background-color: rgb(242 243 245);
                    color: rgb(78, 89, 105);
                }

                .navigationItem:hover {
                    background-color: rgb(22, 192, 248);
                    color: white;
                }

                .navigationItemOnSelect {
                    background-color: rgb(22, 192, 248);
                    color: white;
                }
            }

            .settingWrapper{

                .basicSettingsWrapper {
                    padding: 10px;
    
    
                    .changeGenderWrapper {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
    
                        .changeGenderTitle {
                            margin-bottom: 8px;
                            margin-left: 4px;
                            font-size: 14px;
                        }
    
                        .radioGroupWrapper {
                            display: flex;
                            flex-direction: row;
                            margin-left: 4px;
    
                            .radioWrapper {
                                cursor: pointer;
    
                                .radioContainer {
                                    margin-right: 4px;
                                    cursor: pointer;
                                }
    
                                label {
                                    margin-right: 18px;
                                    font-size: 14px;
                                    cursor: pointer;
                                }
    
                                input[type='radio'] {
                                    appearance: none;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    width: 14px;
                                    height: 14px;
                                    background-color: #f2f2f2;
                                    border-radius: 50%;
                                    border: 1px solid #999;
                                    transition: 0.1s all linear;
                                    margin-right: 10px;
                                    outline: none;
                                }
    
                                input[type='radio']:checked {
                                    border: 5px solid rgb(22, 192, 248);
                                }
                            }
                        }
                    }
    
                }

                .passwordSettingsWrapper{
                    padding: 10px;
                }

                .commonSettingsWrapper {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    .commonSettingsTitle {
                        margin-bottom: 8px;
                        margin-left: 4px;
                        font-size: 14px;
                    }
                    .commonSettingsInputWrapper{
                        padding: 0 12px;
                        border-radius: 10px;
                        background-color: rgb(242, 243, 245);
                        display: flex;
                        flex-direction: column;
                        transition: all .3s ease;
                        box-sizing: border-box;
                        border: 1px solid rgb(242, 243, 245);
    
                        .commonSettingsInput {
                            font-size: 14px;
                            padding: 4px 0;
                            background: none;
                            border: none;
                        }
                    }
                    .commonSettingsInputWrapper:hover {
                        background-color: rgb(229, 230, 235);
                    }
    
                    .commonSettingsInputWrapper:focus-within {
                        border: 1px solid rgb( 22,192,248 );
                        background-color: white;
                    }
                }

                .commonButtonSubmitWrapper{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    .commomButtonSubmit{
                        margin-right: 10px;
                        font-size: 14px;
                        padding: 8px 16px;
                        border-radius: 10px;
                        background-image:linear-gradient(195deg, #73abff 0%, #16e6f8 100%);
                        color: white;
                        cursor: pointer;
                        transition: all .3s ease;
                    }

                    .commomButtonSubmit:hover{
                        box-shadow:0 14px 26px -12px rgba(22, 192, 248, 0.4), 0 4px 23px rgba(22, 192, 248, 0.15), 0 8px 10px -5px rgba(22, 192, 248, 0.2)
                    }
                }
            }


        }
    }

}